## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weatherpy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,46.06,53,100,13.80,overcast clouds
1,1,Conceicao Do Araguaia,BR,-8.2578,-49.2647,79.52,55,100,2.59,overcast clouds
2,2,Hermanus,ZA,-34.4187,19.2345,65.12,46,8,6.78,clear sky
3,3,Okhotsk,RU,59.3833,143.3000,49.68,86,95,3.40,overcast clouds
4,4,Lagoa,PT,39.0500,-27.9833,64.20,94,100,15.90,overcast clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Conceicao Do Araguaia,BR,-8.2578,-49.2647,79.52,55,100,2.59,overcast clouds
7,7,Butaritari,KI,3.0707,172.7902,81.10,78,27,12.30,light rain
11,11,Macau,MO,22.2006,113.5461,80.40,94,40,13.80,light intensity shower rain
13,13,Taylorville,US,39.5489,-89.2945,80.49,50,0,0.00,clear sky
14,14,Vaini,TO,-21.2000,-175.2000,78.96,69,20,11.50,few clouds
15,15,Kirakira,SB,-10.4544,161.9205,83.57,75,41,8.79,scattered clouds
19,19,Boa Vista,BR,2.8197,-60.6733,80.58,74,20,2.30,few clouds
23,23,Hami,CN,42.8000,93.4500,77.14,16,42,17.22,scattered clouds
29,29,Pekan,MY,3.4836,103.3996,77.11,88,100,2.80,overcast clouds
30,30,Tianpeng,CN,30.9866,103.9393,80.73,72,100,7.29,overcast clouds

In [9]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Conceicao Do Araguaia,BR,-8.2578,-49.2647,79.52,55,100,2.59,overcast clouds
7,7,Butaritari,KI,3.0707,172.7902,81.10,78,27,12.30,light rain
11,11,Macau,MO,22.2006,113.5461,80.40,94,40,13.80,light intensity shower rain
13,13,Taylorville,US,39.5489,-89.2945,80.49,50,0,0.00,clear sky
14,14,Vaini,TO,-21.2000,-175.2000,78.96,69,20,11.50,few clouds
...,...,...,...,...,...,...,...,...,...,...
672,672,Tucumcari,US,35.1717,-103.7250,85.84,42,0,20.71,clear sky
674,674,Itupiranga,BR,-5.1347,-49.3267,79.12,84,91,2.30,overcast clouds
676,676,Saraland,US,30.8207,-88.0706,84.72,68,7,7.29,clear sky
681,681,Bloomingdale,US,27.8936,-82.2404,85.86,76,0,5.99,clear sky
682,682,Jati,PK,24.3539,68.2671,83.01,71,70,19.42,broken clouds

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Conceicao Do Araguaia,BR,79.52,overcast clouds,-8.2578,-49.2647,
7,Butaritari,KI,81.10,light rain,3.0707,172.7902,
11,Macau,MO,80.40,light intensity shower rain,22.2006,113.5461,
13,Taylorville,US,80.49,clear sky,39.5489,-89.2945,
14,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,
15,Kirakira,SB,83.57,scattered clouds,-10.4544,161.9205,
19,Boa Vista,BR,80.58,few clouds,2.8197,-60.6733,
23,Hami,CN,77.14,scattered clouds,42.8000,93.4500,
29,Pekan,MY,77.11,overcast clouds,3.4836,103.3996,
30,Tianpeng,CN,80.73,overcast clouds,30.9866,103.9393,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
   
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))